body {
  z-index: -1;
  /* background: rgb(223, 221, 221); */
  overflow-x: hidden;
}

@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.logo {
  margin-top: 30px;
  margin-left: 40px;
  font-family: "Pacifico", cursive;
  font-weight: 400;
  color: #fff;
  font-size: 71pt;
  font-style: normal;
}

.wave,
.wave::before,
.wave::after {
  content: "";
  position: absolute;
  top: 50%;
  z-index: 100;
  left: 50%;
  width: 250vw;
  height: 250vw;
  margin-left: -125vw;
  transform-origin: 50% 50%;
  background-color: transparent;
  border-radius: 38% 42%;
  box-shadow: inset 0 0 10vw rgba(10, 120, 250, 0.8);
  animation: spin 17s infinite linear;
  mix-blend-mode: multiply;
}

.wave::before {
  width: 105%;
  height: 95%;
  margin-top: -125vw;
  transform-origin: 49% 51%;
  border-radius: 40% 38%;
  box-shadow: inset 0 0 10vw rgba(0, 0, 0, 0.8);
  animation: spin 24s infinite linear;
}

.wave::after {
  width: 102%;
  height: 100%;
  margin-top: -125vw;
  transform-origin: 51% 49%;
  border-radius: 48% 42%;
  box-shadow: inset 0 0 10vw rgba(10, 200, 230, 0.8);
  animation: spin 20s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* sun */
.sun {
  margin-top: 40px;
  margin-left: 120px;
  width: 100px;
  height: 100px;
  background: radial-gradient(circle, #ffcc00, #ff9900);
  border-radius: 50%;
  box-shadow: 0 0 50px #ffcc00;
  animation: pulse 4s infinite;
}
@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 60px #ffcc00;
  }
  50% {
    transform: scale(1.1);
    box-shadow: 0 0 65px #ffcc00;
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 60px #ffcc00;
  }
}

/* cloud */
.cloud {
  position: absolute;
  width: 100px;
  height: 60px;
  background: white;
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  animation: pulse 3s infinite;
}
.cloud::before,
.cloud::after {
  content: "";
  position: absolute;
  background: white;
  width: 100px;
  height: 60px;
  border-radius: 50%;
}
.cloud::before {
  opacity: 1;
  top: -30px;
  left: 10px;
}
.cloud::after {
  opacity: 1;
  top: -20px;
  left: 50px;
}
.top-right {
  top: 50px;
  right: 80px;
}
.top-left {
  top: 50px;
  left: 40px;
}
@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

/* moon and stars */
.moon {
  position: absolute;
  top: 80px;
  right: 70px;
  width: 120px;
  height: 120px;
  background: radial-gradient(circle, #b8b8b7, #f4f4f4);
  border-radius: 50%;
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.7);
  transform: translate(-50%, -50%);
}
.star {
  position: absolute;
  width: 1px;
  height: 2px;
  z-index: -10;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  animation: twinkle 3s infinite;
}
@keyframes twinkle {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.8);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
  }
}

/* background deep sea */
.bubbles {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 999;
}

.bubble {
  position: absolute;
  bottom: 0;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  animation: float 10s linear infinite;
}

@keyframes float {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100vh);
    opacity: 0;
  }
}